<a href="https://colab.research.google.com/github/18K41A0245/Assignment-2/blob/master/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Area of Triangle :
Given the lengths of three sides of a triangle, calculate the area of the triangle.

In [ ]:
a = int(input("enter side a: "))
b = int(input("enter side b: "))
c = int(input("enter side c: "))
if a + b > c:
    if b + c > a:
        if c + a > b:
            s = (a + b + c) / 2
            Area = (s * (s - a) * (s - b) * (s - c)) ** 0.5
            print("Area of triangle is {}".format(Area))
else:
    print("Triangle is not possible")

enter side a: 5
enter side b: 6
enter side c: 8
Area of triangle is 14.981238266578634

2.	Take a string from end user and check if the value is palindrome or not

In [ ]:
s = input("enter string: ")
rev = ''.join(reversed(s))
if s == rev:
    print("The string is palindrome")
else:
    print("The string is not a palindrome")

enter string: madam
The string is palindrome

3.	Write a program that reads a year from the user and displays a message 
Indicating whether or not it is a leap year.

In [ ]:
year = int(input("enter year: "))
if year % 4 == 0:
    print("The year is leap year")
else:
    print("The year is not a leap year")

enter year: 2020
The year is leap year

4.	 Space To Hyphen problem 
Take a string as input, and replaces spaces “ “  with hyphens “-”, and returns a string.

In [ ]:
string = input("enter string: \n ")
print(string.replace(" ", "-"))

enter string:
 This program converts space into hyphen
This-program-converts-space-into-hyphen

5.	Unique Sort problem: 
Take a string as input that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically).

In [ ]:
string = input("enter words: \n ").split(",")
s = list(set(string))
s.sort()
print("Alphanumericlly sorted list is :")
print(str(s))

enter words:
 orange, white, red, green, magenta, cyan, pink, white
Alphanumericlly sorted list is :
[' cyan', ' green', ' magenta', ' pink', ' red', ' white', 'orange']

6.	Tax Calculator
Ask the user for their monthly salary. Calculate whether they have to pay tax and if so, how much is that amount .Print the result

In [ ]:
tax = {1: 0, 2: 0.05, 3: 0.1, 4: 0.15, 5: 0.2, 6: 0.25, 7: 0.3}
income = int(input("enter your salary: "))
if income < 250000:
    i = 1
elif 250001 < income < 500000:
    i = 2
elif 500001 < income < 750000:
    i = 3
elif 750001 < income < 1000000:
    i = 4
elif 1000000 < income < 1250000:
    i = 5
elif 1250001 < income < 1500000:
    i = 6
else:
    i = 7
income = income * tax[i]
print("tax to be payed is {}".format(income))

enter your salary: 900000
tax to be payed is 135000.0

7.	Take a list of integers as an argument, and converts it into a single integer (return the integer).

In [ ]:
List = []
num = int(input("enter number of elements: "))
print("enter elements: ")
for i in range(0, num):
    n = int(input())
    List.append(n)
print("List of integers entered is: {}".format(List))
string = [str(integers) for integers in List]
s = "".join(string)
integer = int(s)
print("List as a single integer is: {}".format(integer))

enter number of elements: 3
enter elements:
11
33
50
List of integers entered is: [11, 33, 50]
List as a single integer is: 113350

8.	Units of Time:
Create a program that reads duration from the user as a number of days, hours, minutes, and seconds. Compute and display the total number of seconds represented by this duration.

In [ ]:
day = int(input("enter number of days: "))
hour = int(input("enter number of hours: "))
minute = int(input("enter number of minutes: "))
second = int(input("enter number of seconds: "))
s = day * 86400 + hour * 3600 + minute * 60 + second
print("Total number of senconds represented by the duration of {0}-days {1}-hours {2}-minutes {3}-seconds is: {4}".format(day, hour, minute, second, s))

enter number of days: 2
enter number of hours: 4
enter number of minutes: 50
enter number of seconds: 24
Total number of senconds represented by the duration of 2-days 4-hours 50-minutes 24-seconds is: 190224

9.	Sort 3 Integers
Given three integers (given through user input), sort the numbers using |min| and  |max| functions.

In [ ]:
a = int(input("enter first number: "))
b = int(input("enter second number: "))
c = int(input("enter third number: "))
maximum = max(a, b, c)
minimum = min(a, b, c)
m = a + b + c - (maximum + minimum)
print("the sorted numbers are: {0},{1},{2}".format(minimum, m, maximum))

enter first number: 10
enter second number: 35
enter third number: 4
the sorted numbers are: 4,10,35

10.	Write a program that reads a date from the user and computes its immediate successor. The date is the format YYYY-MM-DD. So, 2020-04-15 will have the successor 2020-04-16.

In [ ]:
year = int(input("enter year: "))
month = int(input("enter month between 1-12: "))
day = int(input("enter day between 1-31: "))
print("Date entered: {0}-{1}-{2}".format(year, month, day))
if year % 4 == 0:
    leap_year = True
else:
    leap_year = False
if month in (1, 3, 5, 7, 8, 10, 12):
    month_length = 31
elif month == 2:
    if leap_year:
        month_length = 29
    else:
        month_length = 28
else:
    month_length = 30
if day < month_length:
    day += 1
else:
    day = 1
    if month == 12:
        month = 1
        year += 1
    else:
        month +=1
print("The next date is: {0}-{1}-{2}".format(year, month, day))

enter year: 2020
enter month between 1-12: 04
enter day between 1-31: 15
Date entered: 2020-4-15
The next date is: 2020-4-16

11.	Compute product of a list of numbers [45 ,3,2,89,72,1,10,7]
Output: 121111200

In [ ]:
List = []
n = int(input("enter number of elements: "))
print("enter elements: ")
for i in range(0, n):
    e = int(input())
    List.append(e)
print("the List entered is: {}".format(List))
l = 1
for i in List:
    l *= i
print("multiplication of all elements in list is: {}".format(l))

enter number of elements: 8
enter elements:
45
3
2
89
72
1
10
7
the List entered is: [45, 3, 2, 89, 72, 1, 10, 7]
multiplication of all elements in list is: 121111200

12.	Compute given Num_list =  [5, 6,8 ,34,89,1] to get desired output
Output: Out_list=[11,14,42,123,90]

In [ ]:
List = []
n = int(input("enter number of elements: "))
print("enter elements: ")
for i in range(0, n):
    e = int(input())
    List.append(e)
print("the List entered is: {}".format(List))
out_list = []
for i in range(1, len(List)):
    out_list.append(List[i] + List[i-1])
print("Desired output list is: {}".format(out_list))

enter number of elements: 6
enter elements:
5
6
8
34
89
1
the List entered is: [5, 6, 8, 34, 89, 1]
Desired output list is: [11, 14, 42, 123, 90]

13.	 Compute given Num_tuple =  (5, 6,8 ,3,9,1) to get desired output
Output: Out_list = [5, 30, 240, 720, 6480, 6480]

In [ ]:
Num_tuple = (5, 6, 8, 3, 9, 1)
List = []
m = 1
for i in Num_tuple:
    m *= i
    List.append(m)
print("multplication list of all elements are: {}".format(List))

multplication list of all elements are: [5, 30, 240, 720, 6480, 6480]

14.	 Write a Python code that takes a number and returns a list of its digits. So for 586392 it should return [5,8,6,3,9,2]

In [ ]:
num = int(input("enter number: "))
List = []
for i in str(num):
    List.append(int(i))
print(List)

enter number: 586392
[5, 8, 6, 3, 9, 2]

15.	Write a program that finds the longest palindromic substring of a given string

In [ ]:
class Palindrome(object):
  def longestpalindrome(self, s):
    d = [[False for i in range(len(s))] for i in range(len(s))]
    for i in range(len(s)):
        d[i][i]=True
    maxlen = 1
    start = 0
    for j in range(2, len(s) + 1):
        for i in range(len(s) - j + 1):
            end=i + j
            if j == 2:
                if s[i] == s[end-1]:
                    d[i][end - 1] = True
                    maxlen = j
                    start = i
            else:
                if s[i] == s[end - 1] and d[i + 1][end - 2]:
                    d[i][end - 1] = True
                    maxlen = j 
                    start = i
    return s[start:start + maxlen]
s = input("enter a string: ")
ob = Palindrome()
print(ob.longestpalindrome(s))

enter a string: abbabbc
bbabb

16.	 Substring Check (Bug Funny)
Given two binary strings, A (of length 10) and B (of length 5), output 1 if B is a substring of A and 0 otherwise.
First two lines of input:

1010110010          10110
1110111011           10011
First two lines of output:
1
0

In [ ]:
string = input("Enter binary string: ")
substring = input("Enter binary substring: ")
if(string.find(substring) == -1):
    print("0")
else:
    print("1")

Enter binary string: 1010110010
Enter binary substring: 101101
0

17.	  POUR1 - Pouring water:

Given two vessels, one of which can accommodate a litres of water and the other - b litres of water, determine the number of steps required to obtain exactly c litres of water in one of the vessels.
At the beginning both vessels are empty. The following operations are counted as 'steps':
•	emptying a vessel,
•	filling a vessel,
•	pouring water from one vessel to the other, without spilling, until one of the vessels is either full or empty.

Input:
An integer t, 1<=t<=100, denoting the number of testcases , followed by t sets of input data, each consisting of three positive integers a, b, c, not larger than 40000, given in separate lines.

Output:
For each set of input data, output the minimum number of steps required to obtain c litres, or -1 if this is impossible.

In [4]:
def gcd(a, b):
    if b == 0:
        return a
    return gcd(b, a % b)
def countsteps(a, b, c):
    v1 = b
    v2 = 0
    count = 1
    while((v1 is not c) and (v2 is not c)):
        temp = min(v1, a - v2)
        v2 += temp
        v1 -= temp
        count += 1
        if v2 == c or v1 == c:
            break
        if v1 == 0:
            v1 = b
            count += 1
        if v2 == a:
            v2 = 0
            count += 1
    return count
def ispossible(a, b, c):
    if a > b:
        temp = a
        a = b
        b = temp
    if c > b:
        return -1
    if c % gcd(b, a) is not 0:
        return -1
    return min(countsteps(b, a, c), countsteps(a, b, c))
t = int(input("Enter no. of test cases: "))
for i in range(t):
    a = int(input("enter capacity of vessel a: "))
    b = int(input("enter capacity of vessel b: "))    
    c = int(input("enter capacity to be obtained: "))
    print("Minimum number of steps required is: {}".format(ispossible(a, b, c)))

Enter no. of test cases: 2
enter capacity of vessel a: 2
enter capacity of vessel b: 3
enter capacity to be obtained: 4
Minimum number of steps required is: -1
enter capacity of vessel a: 5
enter capacity of vessel b: 2
enter capacity to be obtained: 3
Minimum number of steps required is: 2